:root{
    --primery-text-color:#757575;
    --title-text-color:#000000;
    --accent-text-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --primery-button-color:#212121;
    --timing-transform:cubic-bezier(0.4, 0, 0.2, 1)
}

body {
    margin: 0;
    padding-top: 80px;
    font-family: roboto, sans-serif;
    background-color:var(--primary-white-color);
    color: var(--primery-text-color);
    letter-spacing: 0.03em;
/* хедер */
}
.container-header{
    width: 1200px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #FFFFFF;
    border-bottom: 1px solid #eeeeee;

}
.header{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #eeeeee;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.logo{
    
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--accent-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.studio{
    color: var(--title-text-color);
}
.main-nav{
    display: flex;
    align-items: center;
}
.contact{
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact .link + .link{
    margin-left: 40px; 
}

.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .site-item + .site-item{
margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 33px;
    font-size: 14px;
    Line-height: 1.14;
    color: var(--primery-button-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-text-color);
 
}
.site-item{
    position: relative;
    display: block;
}
.site-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms var(--timing-transform);
}
.site-title:hover:after{
    transform: scaleX(1);
}

.nav-link{
    display: flex;
    text-align: center;
}

.mail-title{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: var(--primery-text-color);
    justify-content: center;
    align-items: center;
}

.mail{
    color: var(--primery-text-color);
    text-decoration: none;
}

.mail-icon{
    margin-right: 10px;
}
.mail-title:hover,
.mail-title:focus{
    fill: var(--accent-text-color); 
    color: var(--accent-text-color);  
}

/* main */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
    background-color: var(--primary-white-color);
}
.side-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #F5F4FA;
}

.section{
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
img{
    display: block;
    margin: 0;
}
.section-button{
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    background-color: var(--primary-white-color);
}

.button{
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white-color);
    margin-left: auto;
    margin-right: auto;

}
.button-list{
    margin-left: 8px;
    background-color: #F5F4FA;
}
.button-list:first-child{
    margin: 0;
}
.button-title{
    font-family: inherit;
    padding: 6px 22px;
    color: var(--primery-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    border: none;
}
.button-title:hover,
.button-title:focus{
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--accent-text-color);
}

.section-title{
    color: #212121;
    background-color: var(--primary-white-color) ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.heading{
    color: var(--primery-button-color) ;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.heading-sitebar{
    color: var(--primery-button-color) ;
    background-color: #F5F4FA;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.section-flex{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
}
.flex-container{
    padding: 0;
    margin-right: -10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.flex-container:hover .flex-section{
    opacity: 1;
}
.sidebar-container{
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F4FA;
}
.flex-section{
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
}
.flex-section:nth-child(-n+3){
    margin-top: 0;
}
.flex-section:hover,
.flex-section:focus{
    box-shadow:1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.flex-thumb{
    position: relative;
    overflow: hidden;
}
.flex-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transition: 250ms var(--timing-transform);
    transform: translateY(101%);
}
.flex-overlay:hover{
    opacity: 1;
}
.flex-section:hover .flex-overlay{
    transform: translateY(0);
}
.flex-text{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 63px 24px 178px 24px;
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
}

/* .flex-overlay{
    position: absolute;
    
}
.flex-thumb:hover .flex-overlay{
    opacity: 1;
 } */
 .flex-section:hover .flex-thumb::before{
    transform: translateY(0);
 }
.flex-contants{
    margin: 0;
    padding: 24px;
    border-radius: 4px;
    background-color: var(--primary-white-color);
}
.flex-title{
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.flex-section:nth-child(3n + 1){
    margin-left: 0px;
}
.flex-title:first-child{
    margin-left: 0;
}
.flex-contant{
    margin: 0;
    padding: 30px;
    background-color: var(--primary-white-color);
    text-align: center;
}
.sidebar{
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.soc-team{
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    fill: #AFB1B8;
    background-color: var(--primary-white-color);
    border-radius: 50%;
}

.socl-link{
    width: 100%;
    height: 100%;
    display: flex;
    fill: #AFB1B8;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.soc-team :hover,
.soc-team :focus{
    background-color: var(--accent-text-color);
    fill: var(--primary-white-color);
}

.overlay{
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( 
        to right,
         rgba(47, 48, 58, 0.4), 
         rgba(47, 48, 58, 0.4)), 
         url(../images/Imgpfone.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.container-hero{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.hero .hero-title{
    color: var(--primary-white-color);
    margin-top: 106px;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}
.hero-list{
    padding: 10px 24px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    border-radius: 4px;
    border: none;
}
.section-work{
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 94px;
}
.image-block{
    display: flex;
}
.image-title{
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
}
.image-title:first-child{
    margin-left: 0;
}
.work{
    padding: 27px;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
}
.item{
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color:var(--primery-text-color);
}
.text{
    margin: 0;
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
.futures{
    display: flex;
}
.futures .title{
    width: 270px;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
}
.desc{
    width: 270px;
    height: 72px;
    margin-right:30px;
    margin-top: 0;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.desc-items{
    margin-right: 0;
}
.icon{
    display: flex;
    content: "";
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center; 
}
.customers{
    color: var(--primery-button-color) ;
    background-color: var(--primary-white-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.client{
    display: flex;
    list-style: none;
    background-color: var(--primary-white-color);
}
.item-clients{
    margin-left: 30px;
}
.item-clients:first-child{
    margin-left: 0;
}
.clients{
    display: flex;
    content: "";
    background-color: #FFFFFF;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    color: #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}
.clients:hover,
.clients:focus{
    border-color: var(--accent-text-color);
    color: var(--accent-text-color);
}
.clients-icon{
    fill: currentColor;
}
/* футер */
.container-footer{
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto; 
}
.footer{
    height: 251px;
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
    
}

.logo-title{
    color: var(--primary-white-color);
}
.adress{
    padding-top: 28px;
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contacts{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.contacts:hover,
.contacts:focus{
color: var(--accent-text-color);
}

.contacts-footer{
    padding-top: 12px;
}
.join{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}
.socials{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.social-team{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.social-team :hover,
.social-team :focus{
    background-color: var(--accent-text-color);
}
.social-list{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}
.social-link{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social-nav{
    fill: var(--primary-white-color);
}
/* модальное окно */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    /* transition: transform 500ms cubic-beiser(0.4, 0, 0.2, 1); */
}
.modal-button{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 0;
    border-radius: 50%;
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.icon-close{
    position: absolute;
    top: 0;
    right: 0;
}
